* {
  font-family: "JetBrainsMono Nerd Font", sans-serif;
  border-radius: 10px;
}

.notification {
  background-color: rgb(85, 91, 104);
  padding: 6px;
  border-radius: 25px;
}

.notification-group {
  background-color: transparent; /* transparent effect */
  padding: 10px;
  margin: 0;
}

.notification-group.selected {
  background: transparent;
  padding: 0;
}

.close-button {
  background: transparent;
  border: none;
  font-size: 14px;
}

/* Alternative: if the above doesn't work, try this */
.notification .notification-default-action .image {
  margin-right: 12px;
}

.notification-default-action {
  border-radius: 25px;
}

.notification-default-action:hover {
  background-color: rgba(123, 130, 141, 0.7); /* light blue with transparency */
  /* or try a solid color like: */
  /* background-color: #313244; */
}

.notification.critical {
  border: 2px solid #ff618e;
  border-color: #ff618e;
}

.control-center {
  background-color: rgba(21, 21, 32, 1); /* transparent effect */
  border: 1px solid #313244;
  margin: 20px; /* add outer spacing to float */
  padding: 8px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.4);
  border-color: #7ba4ca;
  border: 3px solid;
  border-radius: 25px;
}

.control-center-list {
  background-color: rgba(24, 24, 37, 0.85);
}

.notification-row {
  margin: 4px 0;
  border-radius: 18px;
}

.close-button {
  color: #cdd6f4;
}

.time {
  color: #89b4fa;
  font-weight: bold;
  font-size: 11px;
}

.widget-title {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
}

.widget-title > button {
  font-size: 14px;
/*  font-weight: bold; */
  color: #ffffff;
  background-color: #00c200;
  border: none;
  padding: 6px 12px;
  margin: 6px;
  border-radius: 12px;
  transition: background 0.2s;
}

.widget-title > button:hover {
  background-color: #58ff58;
}


/* Button Grid Styling */
.widget-buttons-grid button {
  font-family: "Noto Color Emoji", "JetBrainsMono Nerd Font", sans-serif;
  font-size: 16px;
  color: #ffffff; /* text */
  background-color: #1e1e2e; /* base */
  border-radius: 8px;
  padding: 10px 16px;
  margin: 4px;
  min-width: 60px;
  border-color: #1e1e2e;
  border-top: none;
}

.widget-buttons-grid button:hover {
  background-color: #313244; /* surface1 */
  border-color: #313244;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.widget-buttons-grid button:active {
  background-color: #585b70; /* surface2 */
}

.widget-buttons-grid button.active {
  background-color: #89b4fa; /* blue */
  color: #1e1e2e;           /* base, for contrast */
}

.widget-buttons-grid button.active:hover {
  background-color: #74c7ec; /* sky */
}



switch {
  background-color: #313244; /* surface1 */
  border-radius: 18px;
  min-width: 42px;
  min-height: 22px;
}

/* The "ON" state (checked switch) */
switch:checked {
  background-color: #00c200; /* blue */
}

/* The moving handle inside the switch */
switch slider {
  background-color: #ffffff; /* text */
  border-radius: 18px;
}


