.perf-box {
  background-color: rgb(255, 255, 255);
  border-radius: $radius-lg;
  padding: 16px;
  padding-bottom: 0px;
  box-shadow: inset 0px -50px 60px 0px rgba(0, 0, 0, 0.2);
}

.perf-item {
  margin: 0 8px;
  min-width: 80px;
}

circular-progress {
  min-width: 90px;
  min-height: 90px;
  margin-bottom: 8px;
}

.perf-circle-cpu {
  color: #f39c12;
  background-color: rgba(243, 156, 18, 0.15);
  min-width: 90px;
  min-height: 90px;
  margin-bottom: 6px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 3px rgba(243, 156, 18, 0.2);
}

.perf-circle-ram {
  color: #3498db;
  background-color: rgba(52, 152, 219, 0.15);
  min-width: 90px;
  min-height: 90px;
  margin-bottom: 6px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 3px rgba(52, 152, 219, 0.2);
}

.perf-circle-gpu {
  color: #2ecc71;
  background-color: rgba(46, 204, 113, 0.15);
  min-width: 90px;
  min-height: 90px;
  margin-bottom: 6px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 3px rgba(46, 204, 113, 0.2);
}

.perf-label {
  font-size: 15px;
  color: #000000;
  font-weight: 500;
  margin-bottom: 2px;
}

.perf-value {
  font-size: 15px;
  color: #857e65;
  font-weight: 600;
  margin-top: -40px;
}

.cpu-box {
  background-color: rgb(255, 255, 255);
  border-radius: $radius-lg;
  padding: 12px;
  padding-bottom: 0px;
}

.ram-box {
  background-color: rgb(255, 255, 255);
  border-radius: $radius-lg;
  padding: 12px;
  padding-bottom: 0px;
}

.gpu-box {
  background-color: rgb(255, 255, 255);
  border-radius: $radius-lg;
  padding: 12px;
  padding-bottom: 0px;
}