/*.weather {
  background: none;
}*/

/* CSS Styles */
.greeting {
  font-size: 30px;
  font-weight: bold;
  color: $accent;
  margin-bottom: 5px;
  /* Reduced margin */
}

.day {
  font-size: 60px;
  color: #d6d8a3;
  margin: 0;
  /* Remove all margins */
  padding: 0;
  /* Remove all padding */
  font-weight: 700;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.weather-info {
  font-size: 20px;
  color: #b1b68a;
  padding: 0;
}

.weather-icon {
  font-size: 35px;
  color: #b1b68a;
  margin-top: 2px;
}