#battery:hover {
    background-color: #48486d;
    opacity: 1;
}

#battery {
    background-color: #3c3c59;
    font-size: 14px;
    color: #ffffff;
    padding: 2px 6px;
    padding-right: 7px;
    margin: 2px;
    border-radius: 8px;
    opacity: 1;
}

#battery.charging:hover {
    background-color: #49ca7f;
    opacity: 1;
}

#battery.charging {
    color: #ffffff;
    background-color: #26A65B;
    opacity: 1;
}

/*@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}*/

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
/*    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;*/
}

#battery.critical:not(.charging):hover {
    background-color: #f76b6b;
    opacity: 1;
}

#battery.warning:not(.charging) {
    background-color: #d99426;
    color: #ffffff;
    opacity: 1;
}

#battery.warning:not(.charging):hover {
    background-color: #f9b13c;
    opacity: 1;
}