#bluetooth {
    background-color: rgba(229, 240, 255, 0.15);
    font-size: 16px;
    color: #ffffff;
    padding: 2px 8px;
    margin: 2px 2px 2px 2px;
    border-radius: 8px;
    opacity: 1;
}

#bluetooth:hover {
    background-color: rgba(155, 155, 173, 0.8);
    opacity: 1;
}

#bluetooth.disabled {
    color: #ffffff;
}

#bluetooth.off {
    background-color: #f53c3c;
    color: #ffffff;
}

#bluetooth.on {
    background-color: #4a90e2;
    padding: 2px 10px;
    color: #ffffff;
}

#bluetooth.on:hover {
    background-color: #6aa8f4;
}

#bluetooth.connected {
    background-color: #26A65B;
    color: #ffffff;
}

#bluetooth.connected:hover {
    background-color: #54b67d;
}

#bluetooth.discoverable {
    background-color: #f39c12;
    color: #ffffff;
}