#clock:hover {
    background-color: rgba(155, 155, 173, 0.8);
    opacity: 1;
}

#clock {
    color: #ffffff;
    font-size: 16px;
    background-color: rgba(229, 240, 255, 0.15);
    padding: 2px 4px;
    margin: 2px 5px;
/*    background-color: rgb(60, 60, 89); */
    border-radius: 8px;
    opacity: 1;
}