/*#clock:hover {
    background-color: rgba(155, 155, 173, 0.8);
    opacity: 1;
}*/

#clock {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    background-color: rgb(0, 0, 0);
/*    padding: 2px 8px 0px 0px;*/
    padding: 2px 1px 0px 2px;
    margin: 0px 0px;
/*    background-color: rgb(60, 60, 89); */
    opacity: 1;
}