#custom-notifications {
    background-color: rgb(0, 0, 0);
    font-size: 16px;
    color: #ffffff;
    border-bottom-left-radius: 14px;
    border-top: #000000 4px solid;
    border-left: transparent 3px solid;
    padding-left: 16px;
    padding-right: 6px;
    opacity: 1;
}

/*#custom-notifications:hover {
    opacity: 1;
    color: #feffa7;
}*/