#custom-notifications {
    font-size: 16px;
    margin-left: 1px;
    margin-right: 3px;
    color: #fbff00;
    opacity: 1;
/*    transition: background-color 0.3s ease, opacity 0.3s ease; */
}

#custom-notifications:hover {
    opacity: 1;
    color: #feffa7;
}