#custom-notification {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    border-bottom-left-radius: 14px;
    border-top: #000000 4px solid;
    border-left: transparent 3px solid;
    padding: 0px 6px 2px 16px;
    opacity: 1;
}

/*#custom-notifications:hover {
    opacity: 1;
    color: #feffa7;
}*/