#custom-notifications {
    background-color: black;
    font-size: 16px;
    color: #ffffff;
    border-bottom-left-radius: 10px;
    padding-left: 16px;
    padding-right: 6px;
    opacity: 1;
}

/*#custom-notifications:hover {
    opacity: 1;
    color: #feffa7;
}*/