#pulseaudio {
    background-color: #3c3c59;
    font-size: 14px;
    color: #ffffff;
    padding: 2px 6px;
    margin: 2px;
    border-radius: 8px;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    font-size: 14px;
    color: #2a5c45;
}

#pulseaudio.muted:hover {
    background-color: #b0d6d6;
    opacity: 1;
}

#pulseaudio:hover {
    background-color: #48486d;
    opacity: 1;
}