#workspaces {
    margin: 0px 1px 0px 2px;
}

#workspaces button {
    font-family: "JetBrainsMono", monospace;
    padding: 0px 6px;
    background-color: rgba(229, 240, 255, 0.15);
    border-left: transparent 3px solid;
    border-right: transparent 3px solid;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #f8ebbc;
    /*transition: background-color 0.5s ease, color 0.5s ease;*/
}

#workspaces button.active {
    color: #ffffff;
    border-bottom: #f8ebbc 3px solid;
    background-color: rgba(155, 155, 173, 1);
}
/*
#workspaces button:hover {
    background: rgba(91, 97, 128, 0.5);
}*/

#workspaces button.focused {
    background-color: #f8ebbc;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
/*button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}*/

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0; 
}