@import "scss/reset";
@import "scss/variables";
@import "scss/animations";

@import "scss/widgets/calendar";
@import "scss/widgets/music.scss";
@import "scss/widgets/performance.scss";
@import "scss/widgets/weather.scss";
@import "scss/widgets/webnav.scss";
@import "scss/widgets/brightness.scss";
@import "scss/widgets/power.scss";
@import "scss/widgets/capslock.scss";
@import "scss/widgets/media.scss";
@import "scss/widgets/volume.scss";